
.header,
.navbar.navbar-default{
    background-color:#021523;
    border: none;
}
.navbar-header .glyphicon{
    font-size: 30px;
    color: #fff;
}
.navbar-header h1{
    display: inline-block;
    color: #fff;
}
.navbar-header h4{
    color: #fff;
}
.navbar .nav li a{
    color: #fff;
    font-size: 25px;
}
.navbar .nav li:hover a{
    color: #f40;
}
.about  .about-left {
    background: url(./images/ab.jpg) no-repeat center;
    height: 642px;
    background-size: cover;
    background-position: fixed;
}
.about-top_agile_its{
    padding-top: 20px;
}
.about-top_agile_its h2 {
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}
.about-top_agile_its h5 {
    font-size: 11px;
    font-weight: 400;
    color: #33cc99;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #cec8c8;
    margin: 0px 0px 15px 0px;
    letter-spacing: 4px;
}
.about-top_agile_its p {
    font-size: 15px;
    font-weight: 400;
    color: #838383;
    line-height: 20px;
    margin-bottom: 10px;
}
.about-top_agile_its span {
    font-weight: 600;
    font-style: italic;
    color: #ef5734;
    font-size: 10px;
    line-height: 20px;
}
.content{
    padding-top: 20px;
}
.con-top{
    text-align: center;
}
.con-top h3{
    line-height: 100px;
    font-size: 30px;
    font-weight: 600;
}
.con-inner .inner_item{
    position: relative;
    padding: 0;
}
.con-inner .inner_item a{
    display: block;
    width: 100%;
    height: 100%;
}
.con-inner .inner_item a img{
    width: 100%;
 
}
.con-inner .inner_item a .hover{
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 204, 153, 0.83);
    transform: scale(0);
    transition: all 0.5s;
}
.con-inner .inner_item a .hover p{
    font-size: 26px;
    color: #fff;
    background: rgba(0, 0, 0, 0.83);
    margin-top: 30%;
    padding: 3px;
    width: 100%;
    line-height: 40px;
   
}
.footer{
    background: url(./images/banner.jpg) no-repeat;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
    width: 100%;
    margin-top: 20px;
}
.cam{
    text-align: center;
}
.cam a .glyphicon{
    font-size: 50px;
    color: #fff;
}
.agileits_social_media{
    margin: 20px;
    text-align: center;
}
.agileits_social_media ul li{
        list-style: none;
        display: inline-block;
        font-weight: 600;
        margin: 20px;

    
}
.agileits_social_media ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background: #fff;
}


.agileits_social_media ul li a i {
    font-size: 15px;
    /* margin-left: 25%; */
    line-height: 33px;
}
.agileits_social_media ul li:nth-of-type(1) i{
    color: #3b5998;
}
.agileits_social_media ul li:nth-of-type(2) i{
    color: #1da1f2;
}
.agileits_social_media ul li:nth-of-type(3) i{
    color: #ea4c89;
}
.agileits_social_media ul li:nth-of-type(4) i{
    color: #f26522;
}
.copy-right{
    text-align: center;
    color: #fff;
}
